// Background white
$background-white: #ffffff;

// Background blue
$background-blue: #111d30;

// Secondary blue - user card bg
$secondary-background-blue: #1b2a49;

// Primary blue - search bar btn and user @
$primary-blue: #007bff;

// Primary hover blue 1 - btns
$primary-hover-blue-1: #c0d1ff;

// Primary pressed blue - btns
$primary-pressed-blue: #152e73;

// Icons blue - social media
$icons-blue: #426b9f;

// Paragraph - text
$paragraph-light-mode: #474748;
$paragraph-dark-mode: #ffffff;
$paragraph-placeholder: #757575;
